/*
 * Globals
 */

body {
  font-family: 'Merriweather',serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Merriweather',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

header {
  text-align: center;
  background: url('images/main_header.png') no-repeat center center scroll;
  color: white;
}
header img {
  background: url('images/main_header.png') no-repeat center center scroll;
  display: block;
}

header .intro-text {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
@media (min-width: 768px) {
  header .container {
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }

	header	.post-img-title h1 {
	  font-family: 'Roboto', sans-serif;
	  font-size: 2.75em;
	  color: #0f0f0f;
	}
}
.post-img-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #0f0f0f;
  margin-left: 180px;
  margin-right: 180px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('images/main_header.png') no-repeat center center scroll;
  padding: 200px 0;
}

.image-bg-fixed-height {
  background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}


.social-buttons {
  float: right;
  margin-top: -180px;
  margin-right: 20px;
  font-size: 25px;
  color: #000;
}
.social-buttons > ul {
  list-style-type: none;
}

.social-buttons > ul > li {
  display: inline;
  padding: 20px;
}

.blog-header-img {
  z-index: -1;
  padding-top: 0;
  padding-bottom: 0;
  margin:0;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 2.0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager .prev{
  margin-bottom: 60px;
  text-align: left;
}
.pager .next {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.sign {
  margin-top: 150px;
}
/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.portfolio {
	margin-left: 20px;
	margin-right: 20px;
}
.portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}
.portfolio-item {
	margin: 0 auto;
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.portfolio .portfolio-item .portfolio-link .caption:hover {
  background: rgba(24, 88, 156, 0.9);
  opacity: 0.5;
}
.portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 40px;
  font-size: 40px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.portfolio .portfolio-item .portfolio-link .caption .caption-content h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #fff;
}
#about_upper {
  margin-top: 10%;
  height: 100px;
}
#about_upper h2{
  font-family: 'Roboto', sans-serif;
}
#about_down {
  margin-top: 0;
  height: 20px;
}
#about_down h3{
  margin-top: 2%;
  font-size: 18px;
  font-family: 'Merriweather',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about_down a {
  margin-bottom: 60px;
  text-align: left;
  width: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
#author_face {
	margin:0 auto;
}
#author h4 {
	font-size: 15px;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0 auto;
	margin-left: 5px;
	margin-bottom: 50px;
}
footer {
    margin: 50px 0;
}